input,
button {
  width: 80%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

input {
  font-size: 0.7em;
  text-align: center;
}

.myLink {
  font-size: 0.6em;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 5px;
}

.message {
  text-align: center;
  font-size: 1em;
  color: red;
}

.wordOutput {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.5em;
}

.gameArea input {
  font-size: 1.2em;
}

.gameArea {
  background-color: aliceblue;
  padding: 10px;
  border: 1px solid #ddd;
}
